# SBA dataset

Build portfolio using 2~3 years data, e.g. 2003 to 2004. 
Use the model to predict default in 2005.

In [1]:
from IPython.core.display import display, HTML
display(HTML("""<style> .container {width:96% !important;}</style>"""))

from IPython.display import IFrame

In [2]:
import pandas as pd
import numpy as np
# from plotly.offline import init_notebook_mode, iplot
# import cufflinks as cf
# init_notebook_mode()
# cf.go_offline()
from __future__ import division

In [3]:
path_data = '../large_data_files/ASA_loan_data/'
def table(no):
    # there are 13 additional table
    return pd.read_csv('additional_data/t00%02d'%no + '-10.1080%2F10691898.2018.1434342.csv')

In [4]:
def to_float(x):
    x = x.replace('$', '')
    x = x.replace(',', '')
    x = float(x)
    return x

In [5]:
path_data

'../large_data_files/ASA_loan_data/'

In [6]:
nat = pd.read_csv(path_data + 'SBAnational.csv', low_memory=False)
nat = nat[nat['ApprovalFY'] != '1976A']
nat['ApprovalFY'] = nat.ApprovalFY.astype(int)
nat = nat[(nat.ApprovalFY >= 1990) & pd.notnull(nat.MIS_Status)]

In [7]:
nat.shape

(869288, 27)

In [9]:
nat['DisbursementGross'] = nat['DisbursementGross'].apply(to_float)
nat['BalanceGross'] = nat['BalanceGross'].apply(to_float)
nat['ChgOffPrinGr'] = nat['ChgOffPrinGr'].apply(to_float)
nat['GrAppv'] = nat['GrAppv'].apply(to_float)
nat['SBA_Appv'] = nat['SBA_Appv'].apply(to_float)

In [10]:
nat.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,60000.0,0.0,P I F,0.0,60000.0,48000.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,40000.0,0.0,P I F,0.0,40000.0,32000.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,287000.0,0.0,P I F,0.0,287000.0,215250.0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,35000.0,0.0,P I F,0.0,35000.0,28000.0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,229000.0,0.0,P I F,0.0,229000.0,229000.0

nat.ApprovalFY.value_counts().sort_index()

In [11]:
nat03_04 = nat[(nat.ApprovalFY >= 2003) & (nat.ApprovalFY < 2005)]
nat05_06 = nat[(nat.ApprovalFY >= 2005) & (nat.ApprovalFY < 2007)]
nat07_08 = nat[(nat.ApprovalFY >= 2007) & (nat.ApprovalFY < 2009)]
print nat03_04.shape, nat05_06.shape, nat07_08.shape

(126195, 27) (152714, 27) (111107, 27)

In [12]:
nat03_04.to_csv('additional_data/nat03_04.csv', index=False)
nat05_06.to_csv('additional_data/nat05_06.csv', index=False)
nat07_08.to_csv('additional_data/nat07_08.csv', index=False)

In [13]:
!ls -all -h additional_data

total 139752
drwxr-xr-x  18 ehda-calvin  staff   576B Aug 31 17:49 .
drwxr-xr-x  15 ehda-calvin  staff   480B Oct 22 12:19 ..
-rw-r--r--   1 ehda-calvin  staff    21M Oct 22 12:20 nat03_04.csv
-rw-r--r--   1 ehda-calvin  staff    26M Oct 22 12:20 nat05_06.csv
-rw-r--r--   1 ehda-calvin  staff    19M Oct 22 12:20 nat07_08.csv
-rw-r--r--@  1 ehda-calvin  staff   1.4K Aug 31 11:32 t0001-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   772B Aug 31 11:32 t0002-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   785B Aug 31 11:32 t0003-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   913B Aug 31 11:32 t0004-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   202B Aug 31 11:32 t0005-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   203B Aug 31 11:33 t0006-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   289B Aug 31 11:33 t0007-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   408B Aug 31 11:33 t0008-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   204B Aug 31 11:33 t0009-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   294B Aug 31 11:33 t0010-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   250B Aug 31 11:33 t0011-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   316B Aug 31 11:33 t0012-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   2.3K Aug 31 11:33 t0013-10.1080%2F10691898.2018.1434342.csv

nat['ApprovalDate'] = pd.to_datetime(nat['ApprovalDate'], errors = 'coerce')
nat['DisbursementDate'] = pd.to_datetime(nat['DisbursementDate'], errors = 'coerce')
nat = nat[(nat['ApprovalDate'].dt.year >= 2000) & (nat['ApprovalDate'].dt.year < 2011 )] # Use data between 2000 to 2010