# SBA dataset

Build portfolio using 2~3 years data, e.g. 2003 to 2004. 
Use the model to predict default in 2005.

In [1]:
from IPython.core.display import display, HTML
display(HTML("""<style> .container {width:96% !important;}</style>"""))

from IPython.display import IFrame

In [2]:
import pandas as pd
import numpy as np
# from plotly.offline import init_notebook_mode, iplot
# import cufflinks as cf
# init_notebook_mode()
# cf.go_offline()
from __future__ import division

In [3]:
path_data = '../large_data_files/ASA_loan_data/'
def table(no):
    # there are 13 additional table
    return pd.read_csv('additional_data/t00%02d'%no + '-10.1080%2F10691898.2018.1434342.csv')

In [4]:
path_data

'../large_data_files/ASA_loan_data/'

nat = pd.read_csv(path_data + 'SBAnational.csv', low_memory=False)
nat = nat[nat['ApprovalFY'] != '1976A']
nat['ApprovalFY'] = nat.ApprovalFY.astype(int)

nat.ApprovalFY.value_counts().sort_index()

nat03_04 = nat[(nat.ApprovalFY >= 2003) & (nat.ApprovalFY < 2005)]
nat05_06 = nat[(nat.ApprovalFY >= 2005) & (nat.ApprovalFY < 2007)]
nat07_08 = nat[(nat.ApprovalFY >= 2007) & (nat.ApprovalFY < 2009)]
print nat03_04.shape, nat05_06.shape, nat07_08.shape

nat03_04.to_csv('additional_data/nat03_04.csv', index=False)
nat05_06.to_csv('additional_data/nat05_06.csv', index=False)
nat07_08.to_csv('additional_data/nat07_08.csv', index=False)

In [5]:
!ls -all -h additional_data

total 158184
drwxr-xr-x  18 ehda-calvin  staff   576B Aug 31 17:49 .
drwxr-xr-x  12 ehda-calvin  staff   384B Oct 12 12:19 ..
-rw-r--r--   1 ehda-calvin  staff    24M Oct 11 16:19 nat03_04.csv
-rw-r--r--   1 ehda-calvin  staff    30M Oct 11 16:19 nat05_06.csv
-rw-r--r--   1 ehda-calvin  staff    22M Oct 11 16:19 nat07_08.csv
-rw-r--r--@  1 ehda-calvin  staff   1.4K Aug 31 11:32 t0001-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   772B Aug 31 11:32 t0002-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   785B Aug 31 11:32 t0003-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   913B Aug 31 11:32 t0004-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   202B Aug 31 11:32 t0005-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   203B Aug 31 11:33 t0006-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   289B Aug 31 11:33 t0007-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   408B Aug 31 11:33 t0008-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   204B Aug 31 11:33 t0009-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   294B Aug 31 11:33 t0010-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   250B Aug 31 11:33 t0011-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   316B Aug 31 11:33 t0012-10.1080%2F10691898.2018.1434342.csv
-rw-r--r--@  1 ehda-calvin  staff   2.3K Aug 31 11:33 t0013-10.1080%2F10691898.2018.1434342.csv

nat['ApprovalDate'] = pd.to_datetime(nat['ApprovalDate'], errors = 'coerce')
nat['DisbursementDate'] = pd.to_datetime(nat['DisbursementDate'], errors = 'coerce')
nat = nat[(nat['ApprovalDate'].dt.year >= 2000) & (nat['ApprovalDate'].dt.year < 2011 )] # Use data between 2000 to 2010